{% if content %}
    <button type="button"
            class="btn btn-slim btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#{{ modal }}">
        Preview
    </button>
{% endif %}
