@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@mixin theme-dark() {
  .theme-dark & {
    @content;
  }
}

$themes: (
        dark: (
                striped-text-color: #fff,
                bg-dark: #212529FF !important,
                data-table-backgroundcolor: #36373B !important,
                text-light: #fff,
                menu-text-color: #A2ACBD,
                menu-text-heading: #fff
        ),
);
