//.modal-dialog {
//  max-width: 1320px;
//}

//.modal-title {
//  width: 100%;
//  text-align: center;
//}
//
//.container-thumbnail-image {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
.main-thumbnail-image {
  display: inline-block;
  max-height: 440px;
  max-width: 440px;
}
//
//.thumbnail-image-item {
//  display: inline-block;
//  height: 120px;
//  width: 120px;
//  margin: 10px;
//}
//
//.container-buttons {
//  width: 100%;
//  text-align: center;
//}
//
//.arrow-thumbnail {
//
//}

// todo: uncomment when adding features to modal window