<a href="{{ path(url, {id: item.id|base64_encode, channelName: app.request.attributes.get('channelName')}|merge(app.request.query)) }}" title="{{ name }}" class="btn btn-icon btn-outline-info">
    <i class="bi bi-pen-fill"></i>
</a>
